<header class="header py-5">
    <div class="container-xl">
        <div class="row justify-content-center justify-content-md-between">
            <div class="col-8 col-md-4 ">
                <img class="img-fluid" src="assets/images/vipa.png" alt="imagen logo">
            </div>

            <div
                class="col-md-6 d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end navegacion">
                <div class="navbar navbar-expand-lg container navbar-light">
                    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navheader">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navheader" class="collapse navbar-collapse">
                        <nav
                            class="navbar-nav container d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end d-grid gap-2 navegacion">
                            <a class="d-block px-2 py-1 fs-6 fw-bold text-decoration-none text-uppercase text-black"
                                [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                            <a class="d-block px-2 py-1 fs-6 fw-bold text-decoration-none text-uppercase text-black"
                                [routerLink]="['/nosotros']" [routerLinkActive]="['active']">Nosotros</a>
                            <a class="d-block px-2 py-1 fs-6 fw-bold text-decoration-none text-uppercase text-black"
                                [routerLink]="['/pruebas']" [routerLinkActive]="['active']">Diseños</a>
                            <a class="d-block px-2 py-1 fs-6 fw-bold text-decoration-none text-uppercase text-black"
                                [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
                        </nav>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div>
    <img class="header-estrella" src="assets/images/Estrella.png" alt="imagen header">
</header>