<app-headergeneral></app-headergeneral>

<main class="container-xl pt-5">
    <h2 class="text-center">Nosotros</h2>
    <div class="container my-3">
        <div class="row">
            <div class="col-md">
                <img src="assets/images/nosotros.png" class="img-fluid rounded mx-auto d-block" alt="nosotros">
            </div>
            <div class="col-md p-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptates provident cum, ipsam
                    aspernatur doloribus, id aliquid natus deserunt cupiditate quasi sequi, cumque nesciunt est.
                    Tempora
                    vitae dolorem corporis mollitia.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi voluptatibus aperiam reiciendis
                    reprehenderit eius assumenda nemo, earum voluptate saepe! Earum facere animi obcaecati fugiat
                    esse tenetur nemo at tempore eveniet! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Provident nam in nisi est necessitatibus excepturi optio, facere saepe quod corporis officia ad
                    deleniti quo esse voluptatum eligendi neque laborum maiores.</p>
            </div>
        </div>
    </div>
</main>