<div class="row">
    <div class="col-md-6 col-lg-4 my-4 row align-items-center">
        <div class="col-4">
            <img class="img-fluid" src="{{diseno.image}}" alt="{{diseno.title}}">
        </div>
        <div class="col-8 mb-5">
            <h3 class="text-black fs-4 fw-bold text-uppercase">{{diseno.title}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id quae laudantium veritatis. Quo,
                quibusdam?</p>
            <p class="fw-black text-primary fs-3">€299</p>
            <a class="btn btn-primary text-white text-uppercase fs-6 mt-4 d-block" href="producto.html">Ver Producto</a>
        </div>
    </div>
</div>