<main class="container-xl mt-5">
    <div id="carouselvipa" class="carousel slide pt-3 mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/diseño1.png" class="img-fluid d-block w-55 h-55 mx-auto" alt="diseño1">
          </div>
          <div class="carousel-item">
            <img src="assets/images/diseño4.png" class="img-fluid d-block w-55 h-55 mx-auto" alt="diseño4">
          </div>
          <div class="carousel-item">
            <img src="assets/images/diseño3.png" class="img-fluid d-block w-55 h-55 mx-auto" alt="diseño3">
          </div>
          <div class="carousel-item">
            <img src="assets/images/diseño8.png" class="img-fluid d-block w-55 h-55 mx-auto" alt="diseño8">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselvipa" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselvipa" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
      </div>



    <!-- <div class="row mt-5">
        <div class="col-md-3 col-lg-6 my-4 row align-items-center">
            <div class="col-4">
                <img class="img-fluid" src="build/img/diseño1.png" alt="imagen diseño">
            </div>
            <div class="col-8">
                <h3 class="text-black fs-4 fw-bold text-uppercase">Bola Mamá Navidad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id quae laudantium veritatis. Quo, quibusdam?</p>
                <p class="fw-black text-primary fs-3">€299</p>
                <a class="btn btn-primary text-white text-uppercase fs-6 mt-4 d-block rounded-pill" href="producto.html">Ver Producto</a>
            </div>
        </div><!-- FIN DISEÑO -->
    <!--     <div class="col-md-3 col-lg-6 my-4 row align-items-center">
            <div class="col-4">
                <img class="img-fluid" src="build/img/diseño2.png" alt="imagen diseño">
            </div>
            <div class="col-8">
                <h3 class="text-black fs-4 fw-bold text-uppercase">Hueso y huella</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id quae laudantium veritatis. Quo, quibusdam?</p>
                <p class="fw-black text-primary fs-3">€299</p>
                <a class="btn btn-primary text-white text-uppercase fs-6 mt-4 d-block rounded-pill" href="producto.html">Ver Producto</a>
            </div>
        </div><!-- FIN DISEÑO -->
    <!--     <div class="col-md-3 col-lg-6 my-4 row align-items-center">
            <div class="col-4">
                <img class="img-fluid" src="build/img/diseño3.png" alt="imagen diseño">
            </div>
            <div class="col-8">
                <h3 class="text-black fs-4 fw-bold text-uppercase">Botines</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id quae laudantium veritatis. Quo, quibusdam?</p>
                <p class="fw-black text-primary fs-3">€299</p>
                <a class="btn btn-primary text-white text-uppercase fs-6 mt-4 d-block rounded-pill" href="producto.html">Ver Producto</a>
            </div>
        </div><!-- FIN DISEÑO -->
    <!--     <div class="col-md-3 col-lg-6 my-4 row align-items-center">
            <div class="col-4">
                <img class="img-fluid" src="build/img/diseño4.png" alt="imagen diseño">
            </div>
            <div class="col-8">
                <h3 class="text-black fs-4 fw-bold text-uppercase">Bola de navidad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id quae laudantium veritatis. Quo, quibusdam?</p>
                <p class="fw-black text-primary fs-3">€299</p>
                <a class="btn btn-primary text-white text-uppercase fs-6 mt-4 d-block rounded-pill" href="producto.html">Ver Producto</a>
            </div>
        </div><!-- FIN DISEÑO -->
    <!-- </div> -->
</main>